<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.norwegianblue.battle"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Battle</name>

    <description>
        A game of battle.
    </description>

    <author href="https://x.com" email="">
        NorwegianBlue
    </author>

</widget>
